@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jaldi&family=Montserrat:wght@500&family=Open+Sans:ital,wght@1,800&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  -o-text-color: #fff;
  --main-color: #292222;
}