.form-div-100 {
    background-color: #545F71;
    padding: 40px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-h1-102 {
    text-align: center;
}

.form-div-104 {
    margin-top: 40px;
}

.form-div-104 input,
textarea {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border: 1px solid #D3D3D3;
    background: transparent;
    color: #fff;
}

.send-button-114 {
    width: 200px;
    height: 50px;
    background: #f6be2c;
    border-color: #f6be2c;
    color: #fff;
    border-radius: 10px;
}

/* Footer 1 End */