.chair-card-container {
  text-align: center;
  padding: 30px;
  margin: 60px;
}
.chair-card-container-custom {
  margin: auto;
  margin-top: 10px;
}
.chair-card-container-custom:hover {
  background-color: #FFF3F3;
}
.chair-card-custom {
  border: none;
  box-shadow: none;
  overflow: hidden;
}
.chair-card-title {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.chair-custom-card-overflow {
  overflow: hidden;
}
.chair-card-price {
  color: #E51010;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.chair-card-img-top {
  display: inline-grid;
  background: #fff;
  margin: auto;
  margin-top: 10px;
  width: 246px;
  height: 246px;
  border-radius: 30px;
}
.chair-card-img-top:hover {
  transform: scale(1.2);
}
/* For Desktop View */
@media screen and (max-width: 1200px) {}
/* For Tablet View */
@media screen and (max-width: 992px) {}
/* For Mobile Portrait View */
@media screen and (max-width: 768px) {}