.custom-furniture-card{
    margin-bottom: 110px;
    text-decoration: none;

}
 .furniture-card-body{
    text-align: start;
    margin-left: 10px;
 }
.card-img-top {
    height: 290px;
    position: absolute;
    top: -110px;
}
.card-img-top:hover{
    transform: scale(1.2);
    
}

.custom-furniture-border {
    max-width: 300px;
    height: 350px;
    margin-left: 30px;
    /* border: 1px solid red; */
    position: relative;
}

.custom-furniture-border:hover {
    /* box-shadow: 1px 3px 10px red; */
    border-radius: 20px;
    background-color:  rgba(112, 142, 101, 0.45);;
    transition: 1s;
}

.custom-furniture-title {
    font-family: 'Montserrat', sans-serif;  
    padding-top: 240px;
    margin-left: 10px;
}

.custom-furniture-card-text {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

.furniture-hover-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    margin-top: -50px;
    display: none;
}

.furniture-hover-logo i {
    color: #fff;
    padding: 18px;
    font-size: x-large;
}



.custom-furniture-border:hover .furniture-hover-logo {
    display: block;
    transition: 3s;
}


/* responsive for smaller than 1200px*/
@media screen and (max-width:1200px) {
    .card-img-top {
        height: 250px;
        top: -50px;
    }

    .custom-furniture-border {
        width: 250px;
        height: 340px;
        margin: auto;
    }
    

    .custom-furniture-title {
        font-size: 15px;
    }

    .furniture-hover-logo {
        
        right: 5px;
        margin-top: -60px;
    }

    .furniture-hover-logo i {
        padding: 20px;
    }

    .custom-seeMore h4 {
        font-size: large;
    }
}

/* End */
/* responsive for smaller than 992px*/
@media screen and (max-width:992px) {
    .card-img-top {
        height: 290px;
        top: -80px;
    }

    .custom-furniture-border {
        width: 300px;
        height: 350px;
    }

    .custom-furniture-title {
        font-size: 20px;
    }

    .furniture-hover-logo {
        right: 3px;
        margin-top: -50px;
    }

    .furniture-hover-logo i {
        padding: 13px;
        font-size: x-large;
    }

    .custom-footer3-div {
        padding-top: 80px;
    }

    .custom-aboutUs-image-div {
        display: none;
    }

    .custom-Furniture-card-box {
        margin: auto;
        margin-bottom: 60px;
    }

    .custom-seeMore h4 {
        font-size: medium;
    }

    .custom-map-125 {
        padding-top: 20px;
    }

}