.custom-text {
    color: #545F71;
    text-align: center;
    margin: 150px 0px;
}

.card-img-top {
    height: 300px;
    position: absolute;
    top: -100px;
}

.custom-chair-card-border {
    max-width: 300px;
    height: 400px;
    margin-left: 30px;
    /* border: 1px solid red; */
    position: relative;
}

.custom-chair-card-border:hover {
    box-shadow: 1px 3px 10px red;
    border-radius: 20px;
    background-color: aliceblue;
    transition: 3s;
}

.custom-chair-title {
    font-family: 'Montserrat', sans-serif;
    padding-top: 270px;
}

.custom-chair-card-text {
    font-family: 'Inter', sans-serif;
}

.chair-hover-logo {
    height: 60px;
    width: 60px;
    background: linear-gradient(360deg,
            #DC1C13,
            #F07470);
    border-radius: 50%;
    position: absolute;
    left: 120px;
    margin-top: 10px;
    display: none;
}

.chair-hover-logo i {
    color: #fff;
    padding: 18px;
    font-size: x-large;
}



.custom-chair-card-border:hover .chair-hover-logo {
    display: block;
    transition: 3s;
}


/* responsive for smaller than 1200px*/
@media screen and (max-width:1200px) {
    .card-img-top {
        height: 250px;
        top: -50px;
    }

    .custom-chair-card-border {
        width: 250px;
        height: 400px;
        margin: auto;
    }
    

    .custom-chair-title {
        font-size: 15px;
    }

    .chair-hover-logo {
        height: 50px;
        width: 50px;
        left: 95px;
        margin-top: 2px;
    }

    .chair-hover-logo i {
        padding: 18px;
        font-size: medium;
    }

    .custom-seeMore h4 {
        font-size: large;
    }
}

/* End */
/* responsive for smaller than 992px*/
@media screen and (max-width:992px) {
    .card-img-top {
        height: 290px;
        top: -40px;
    }

    .custom-chair-card-border {
        width: 300px;
        height: 400px;
    }

    .custom-chair-title {
        font-size: 20px;
    }

    .chair-hover-logo {
        left: 125px;
        margin-top: -10px;
    }

    .chair-hover-logo i {
        padding: 13px;
        font-size: x-large;
    }

    .custom-footer3-div {
        padding-top: 80px;
    }

    .custom-aboutUs-image-div {
        display: none;
    }

    .custom-product-chair-card-box {
        margin: auto;
        margin-bottom: 60px;
    }

    .custom-seeMore h4 {
        font-size: medium;
    }

    .custom-map-125 {
        padding-top: 20px;
    }

}