.custom-card {
    text-decoration: none;
}

.custom-text {
    color: #545F71;
    text-align: center;
    margin: 150px 0px;
}

.card-img-top {
    height: 300px;
    position: absolute;
    top: -50px;
}

.custom-border {
    max-width: 300px;
    height: 400px;
    margin-left: 30px;
    /* border: 1px solid red; */
    position: relative;
}

.custom-border:hover {
    /* box-shadow: 0px 3px 10px green; */
    box-shadow: 0px 4px 4px rgba(13, 122, 100, 0.2);
    border-radius: 20px;
    background-color: aliceblue;
    transition: 1s;
}

.custom-title {
    padding-top: 270px;
    color: black;
    /* tagfont */
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

}
.custom-seeMore {
    color: #9C9595;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-left: 90%;
    margin-top: -40px;
}

.custom-seeMore button {
    background-color: aliceblue;
}

.custom-seeMore-size {
    color: #9C9595;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}


.custom-card-text {
    color: #E51010;

    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.hover-logo {
    height: 50px;
    width: 50px;
    background: linear-gradient(360deg,
            #07861C,
            #8DC9B2);
    border-radius: 50%;
    position: absolute;
    left: 120px;
    margin-top: 10px;
    display: none;
}

.hover-logo i {
    color: #fff;
    padding: 13px;
    font-size: x-large;
}

.custom-border:hover .hover-logo {
    display: block;
    transition: 3s;
}

/* responsive for smaller than 1200px*/
@media screen and (max-width:1200px) {
    .card-img-top {
        height: 250px;
        top: -50px;
    }

    .custom-border {
        width: 250px;
        height: 400px;
        margin: auto;
    }

    .custom-title {
        font-size: 15px;
    }

    .hover-logo {
        height: 45px;
        width: 45px;
        left: 95px;
        margin-top: 15px;
    }

    .hover-logo i {
        padding: 11px;
        font-size: x-large;
    }

    .custom-seeMore h4 {
        font-size: large;
    }
}

/* End */
/* responsive for smaller than 992px*/
@media screen and (max-width:992px) {
    .card-img-top {
        height: 290px;
        top: -40px;
    }

    .custom-border {
        width: 300px;
        height: 400px;
    }

    .custom-title {
        font-size: 20px;
    }

    .hover-logo {
        left: 125px;
        margin-top: 13px;
    }

    .hover-logo i {
        padding: 11px;
        font-size: x-large;
    }

    .custom-footer3-div {
        padding-top: 80px;
    }

    .custom-aboutUs-image-div {
        display: none;
    }

    .custom-product-card-box {
        margin: auto;
        margin-bottom: 60px;
    }

    .custom-seeMore h4 {
        font-size: medium;
    }

    .custom-map-125 {
        padding-top: 20px;
    }
}