.home-container{
    margin-top: 3vh;
}
.custom-aboutUs-div {
    position: relative;

     background: linear-gradient(230deg,
            rgba(1, 74, 60, 0.94), 
            rgba(204, 110, 110, 0.2));
    /* border-radius: 50px 0px 50px 0px; */

}

.custom-aboutUs {
    color: #D2B5B5;
    position: absolute;
    margin-top: -40px;
    font-size: 60px;
    font-family: 'Jaldi',sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.custom-home-about-us{
    margin-top: 200px;

}
.aboutUs-more-32 {
    text-decoration: none;
    display: block;
    margin-top: 150px;
    color: black;
    font-size: larger;
}

.custom-aboutUs-image-div {
    /* border-radius: 0px 0px 50px 0px; */
    background-color: #d9d9d94c;
    position: relative;
}

.custom-aboutUs-image {
    width: 500px;
    height: 600px;
    position: absolute;
    right: -1px;
    margin-top: -100px;
}