.container {
    width: 100%;
}

.custom-text {
    text-align: center;
    margin: 150px 0px;
    color: #1E1E1E;
    font-family: 'Montserrat',sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.custom-seeMore {
    color: #9C9595;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-left: 90%;
    margin-top: -40px;
}

.custom-seeMore button {
    background-color: aliceblue;

}

.custom-seeMore-size {
    font-size: 18px;
}

/* responsive for smaller than 1200px*/
@media screen and (max-width:1200px) {
    .custom-seeMore h4 {
        font-size: large;
    }
}

/* End */
/* responsive for smaller than 992px*/
@media screen and (max-width:992px) {

    .custom-title {
        font-size: 20px;
    }

    .custom-seeMore h4 {
        font-size: medium;
    }

}