.custom-text {
    color: #545F71;
    text-align: center;
    margin: 150px 0px;
}


.custom-seeMore h4 {
    color: #9C9595;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-left: 90%;
    margin-top: 30px;
}

/* responsive for smaller than 1200px*/
@media screen and (max-width:1200px) {
    .custom-seeMore h4 {
        font-size: large;
    }
}

/* End */
/* responsive for smaller than 992px*/
@media screen and (max-width:992px) {

    .custom-title {
        font-size: 20px;
    }
    .custom-seeMore h4 {
        font-size: medium;
    }

}