.custom-sofa-details {
    display: flex;
    margin-top: 30px;
}

.custom-sofa-details div {
    margin-right: 20px;
    font-size: 20px;
    border-right: solid;
    padding-right: 35px;
    color: #898989;
    font-size: 16px;
    font-family: 'Product Sans';
    font-weight: 400;
    word-wrap: break-word
}

.custom-new-sofainfo h2 {
    margin: 30px 0px;
    color: #2D2D2D;
    font-size: 30px;
    font-family: 'Product Sans';
    font-weight: 700;
    word-wrap: break-word;
}

.custom-new-sofainfo p {
    color: #898989;
    font-size: 18px;
    font-family: 'Product Sans';
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    word-wrap: break-word;
}

.custom-new-sofainfo div p {
    color: #898989;
    display: inline-flex;
    font-size: 18px;
    font-family: 'Product Sans';
    margin-right: 10px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.custom-search input {
    padding: 10px;
    width: 100%;
}